services:
  db:
    image: postgres:18-alpine
    container_name: hack2cash-postgres
    env_file:
      - .env
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - hack2cash_data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - hack2cash-network

  backend:
    build:
      context: .
    container_name: hack2cash-backend
    restart: always
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - "8000:8000"
    networks:
      - hack2cash-network

  frontend:
    build:
      context: ../cra-frontend
    container_name: hack2cash-frontend
    ports:
      - "5173:5173"
    volumes:
      - cra-frontend:/app
    environment:
      - VITE_API_URL=http://localhost:8000
    depends_on:
      - backend
 

volumes:
  hack2cash_data:
  cra-frontend:


networks:
  hack2cash-network:
    driver: bridge
