@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-950 text-gray-100 antialiased m-0;
  }
  * {
    @apply box-border;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar { width: 4px; }
  .scrollbar-thin::-webkit-scrollbar-track { background: #111; }
  .scrollbar-thin::-webkit-scrollbar-thumb { background: #374151; border-radius: 4px; }
}
